@import "bootstrap/dist/css/bootstrap.min.css";
.container-fluid{
  width: 85% !important;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
:root{
  --color-grey-table-bg: rgb(105,105,105);
  --color-grey-table-value: rgb(211,211,211);
}
tr{
  text-align: center;
}
